@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #000000;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

h1 {
    text-align: center;
    margin: 30px 0;
}

.services {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    flex-wrap: wrap;
}

.service-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: 20px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.service-info {
    margin-top: 20px;
}

.service-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.service-info p {
    font-size: 18px;
}

.floating-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.service-card:hover .floating-image {
    transform: scale(1.1);
}
#timer-container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f5f5f5;
    text-align: center;
    padding: 10px 0;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    z-index: 1000;
}

body {
    padding-top: 50px; /* Para evitar que o conteúdo fique sobreposto pelo temporizador */
}
